<div class="container-fluid">
  <h4>Key Insight</h4>
  <div class="line_001"></div>
  <div class="line_002"></div>
  <div class="row">
    <div class="col-md-12">
      <p class="mb-0 pb-0">
        LifeCycle stage:
      </p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <p class="mb-0 pb-0 text-center font-weight-bold mt-4">
      Recommended topics to discuss
    </p>
  </div>


  <div class="container-fluid text-center mt-4">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <div class="col">
        <div class="p-3 border border-primary"> Dynamic Sending<br>
            Starts the conversion<br>
            Very usefull</div>
      </div>
      <div class="col">
        <div class="p-3 border border-secondary"> Dynamic Sending<br>
            Starts the conversion<br>
            Very usefull</div>
      </div>
      <div class="col">
        <div class="p-3 border border-danger"> Dynamic Sending<br>
            Starts the conversion<br>
            Very usefull</div>
      </div>
    </div>
  </div>





  <h4 class="mt-4">Client Summary</h4>
  <div class="line_001"></div>
  <div class="line_002"></div>
  <p class="full-width mt-4">
    <button class="btn btn-danger btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="true" aria-controls="collapseExample">
      <p class="mb-0" style="text-align: right;font-size: 15px;">+</p>
      <p class="mb-0" style="text-align: left;font-size: 15px;"> Persona <br></p>
      <p style="text-align: left">Red</p>
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
      keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
    <div class="card">
      <div class="card-header">
        <p>
          <button class="btn btn-outborder-dark" type="button" data-toggle="collapse" data-target="#collapseExample1"
            aria-expanded="false" aria-controls="collapseExample1">
            Click to edit
          </button>
        </p>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          <form>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group row required">
                  <label class="col-sm-5 col-form-label">The persona of the client is: </label>
                  <div class="col-sm-4">
                    <select class="form-control form-control-sm" data-role="select-dropdown">
                      <option value="">SELECT</option>
                      <option value="">asdsad</option>
                      <option value="">asdsad</option>
                      <option value="">asdsad</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group row required">
                  <label class="col-sm-3 col-form-label">Beacause of:</label>
                  <div class="col-sm-7">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-sm">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-row">
                  <div class="col text-center">
                    <button type="submit" class="btn btn-outborder-secondary m-2 mb-0">Save</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <p>How usefull was the Persona?</p>

  <div class="container-fluid">
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 text-center">
      <div class="col">
        <div class="p-4 border border-primary">
          <p class="mt-1">Cash flow + VIT <br>
            HIGH<br>
            <a href="url">Click for Details</a> <br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> Evaluated Recently?
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-4 border border-secondary">
          <p class="mt-4"> VIT Score<br>
            HIGH<br>
            <a href="url">Click for Details</a>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-4 border border-success">
          <p class="mt-4"> Cashflow <br>
            Positive<br>
            <a href="url">Click for Details</a>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-4 border border-danger">
          <p class="mb-2 mt-2">Selfed Managed Transaction<br>
            limited or no allocation changes<br>
            <a href="url">Click for Details</a> <br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> Evaluated Recently?
          </p>
        </div>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mt-4 text-center">
      <div class="col">
        <div class="p-4 border border-warning">
          <p class=""> Web insights <br>
            No Relavant Web<br>
            Usage<br>
            <a href="url">Click for Details</a> <br>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"> Evaluated Recently?
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-4 border border-info">
          <p class="mt-3"> Retirement Goal <br>
            Progress<br>
            Neutral<br>
            <a href="url">Click for Details</a>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="p-4 border border-dark">
          <p class="mt-3"> Market sessitivity <br>
            Low<br>
            Usage<br>
            <a href="url">Click for Details</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>